In [4]:
# Tuples
# Like List You can store a list of data
l =(4,5,6,7)
print(l)

#Like list it can store different type of data int,string, float
l2= (2,"hello",99,9)
print(l2)

(4, 5, 6, 7)
(2, 'hello', 99, 9)

In [6]:
#Basic Difference between list & Tuples
    #It use's () braces instead of [] brackets
l= (4848,4884.994,"hello")
print(l)

(4848, 4884.994, 'hello')

In [9]:
# Accessing the index is same as tuple
tup =(4,8,99,89,45)
print(tup[4])

#reverse operation with tuple
print(tup[-1])

45
45

In [11]:
# We can use the same slicing operation as List

print(tup[0:4:2])
print(tup[0:4:-1]) # its empty becoz as we by default it goes forward but we have put jump by -1 so the pointer it does not move

(4, 99)
()

In [13]:
# We can paticular index
    #Mutablity List allows to update the value at paticular while tuple does NOT
tup[3] =43 #'tuple' object does not support item assignment  we cannot update

#IN LIST WE CAN UPDATE AT PATICULAR INDEX VALUE

TypeError: 'tuple' object does not support item assignment

In [15]:
# We can create list inside a tuple 

t = (4444,"hello",52,[888,56,89,"hi"])
print(t)

(4444, 'hello', 52, [888, 56, 89, 'hi'])

In [ ]:
# Databases usually returs data as tuples

In [19]:
# SET we can Create Set
    # in set we use {} braces
    # if its empty show its type dict
    # once stored it gives type as set
s ={}
print(s)
s={4,5,9,44,89,77}
print(s)
print(type(s))

{}
{4, 5, 9, 44, 77, 89}
<class 'set'>

In [21]:
#It stores unique values removes duplication
s2={55,84,84,99,66,48,55,55,55}
print(s2)

#It consider case sensitve data as different data so it will give result  for both upper and lower case

s3 ={55,"Hello",666,85,99,"hello",99}
print(s3)

{66, 99, 48, 84, 55}
{'hello', 99, 85, 55, 666, 'Hello'}

In [22]:
# It shows it sequence Data BUT it does NOT STORE DATA IN SEQUENCE THE INDEX IS DIFFERENT
# Is an Unodered collection of DATA

s={55,26,88,79,22}
print(s)

{79, 22, 55, 88, 26}

In [30]:
# U CANT ACCESS AT A PATICULAR INDEX
#s = s[0]
#print(s) # U Cant acess it

#if you want to access at paticular index YOU can CONVERT INTO LIST
s={55,88,99}
l1 =list(s)
print(l1)

# Again U can store Again into SET
s =set(l1)
print(s)

[88, 99, 55]
{88, 99, 55}

In [31]:
# DICTIONARY DATA TYPE
    #IT stores value in KEY VALUE Mannner
    
d ={}
print(type(d))

<class 'dict'>

In [35]:
#Key is moslty in string format
d ={"name":"Hello", "Class": "4th Grade", "Age": 44}
print(d)

{'name': 'Hello', 'Class': '4th Grade', 'Age': 44}

In [36]:
#Key Value should be Unique If same IT WILL TAKE LAST VALUE
d1 ={"name":"Hi", "name": "hello"}
print(d1)

{'name': 'hello'}

In [37]:
#Numeric Value for Key is allowed
d1 ={252552:"Hi", "name": "hello"}
print(d1)

{252552: 'Hi', 'name': 'hello'}

In [40]:
# it does NOT ALLOW SPECIAL CHARATCER BUT U CAN COVERT into string
#d1 ={_252552:"Hi", "name": "hello"} //This will give error

d2 ={"_252552":"Hi", "name": "hello"}
print(d1)

{252552: 'Hi', 'name': 'hello'}

In [45]:
# We can even store tuple's, List in dictonary as values  BUT KEY IS NOT ALLOWED in form of list, set,dict

a ={"name":"hello", "Age":44, "city":[["delhi", "bombay"],66,(22,23)]}
print(a)

{'name': 'hello', 'Age': 44, 'city': [['delhi', 'bombay'], 66, (22, 23)]}

In [46]:
# We can hold set data in dict as values

a ={"name":{1,2,3}}
print(a)

{'name': {1, 2, 3}}

In [50]:
# We can not KEEP SAME KEY whereas Values can be duplicate
# WE can access value of paticular Index BUT WE NEED TO GIVE KEY TO ACCESS VALUE

b={"name":{1,2,3} , "Age": 44}
print(b["name"])

{1, 2, 3}

In [51]:
#Even Tuple can be the KEY
d={(3,4,5) : "tuple is key"}
print (d)

{(3, 4, 5): 'tuple is key'}

In [52]:
#CANNOT HAVE LIST AS KEY
d={[3,4,5] : "tuple is key"}
print(d)

TypeError: unhashable type: 'list'

In [53]:
#CANNOT have SET as KEY
d={{3,4,5} : "tuple is key"}
print(d)

TypeError: unhashable type: 'set'

In [55]:
#CANNOT have DICT as KEY
d={{"this is Dict"}: "hello how" "tuple is key"}
print(d)

TypeError: unhashable type: 'set'

In [58]:
#Strings and Tuples are inmutalble means there index's CANNOT be updated by accessing there index
string_value ="hello how r u"
string_value[0] ="h" # This will give erro 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [66]:
#Accesing the Value of Key and in that if it has a list
s = {"name":"hello", "Age":44, "city":[["delhi", "bombay"],66,(22,23)]}
s["city"][0]

#Accesing the Value of Key and in that if it has a Tuple
s = {"name":"hello", "Age":44, "city":[["delhi", "bombay"],66,(22,23)]}
s["city"][2][1]

23

In [64]:
#Accesing the Value of Key and in that if it has a list
s = {"name":"hello", "Age":44, "city":[["delhi", "bombay"],66,(22,23)], "area":{2,3,4,8}}
s["area"]

#But accessing the value of SET values is not possible as we know the set stores the value not in odered form
s["area"][0] # This will give error 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [ ]:
 # IMMUTABLE ELEMENTS CAN BE AS KEY : Tuple, SET